*{
  -webkit-tap-highlight-color: #00000000;
  margin: 0;
  font-family:Signika Negative, arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.desktop-restricted{
  display: none;
}

@media (min-width: 768px) {
  .wrapper{
    display: none;
  }
  .desktop-restricted {
    display: block;
    text-align: center;
    font-size: 40px;
    color: red;
    margin-top: 200px;
  }
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 12 0 12;
	position: relative;
	z-index: 10;
  background-color: #000;
	box-shadow: 0px 0px 20px #000000da;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(43, 42, 42) 78.9%);
  position: sticky;
  top: 0;
}

.bi{
  background: none;
  border: none;
  scale: 1.1;
}

.buttons{
  position: relative;
}

.storename{
  color: white;
  letter-spacing: 1;
  cursor: default;
  font-size: 18;
}

.dropdown-menu {  
  display: none;
  position: absolute;
  top: 40px;
  right: -3;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgb(0, 0, 0);
  z-index: 1000;
  width: 150px;
  overflow: hidden;
}

.dropdown-menu a {
  display: block;
  padding: 10px ;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.dropdown-menu p{
  color: rgb(247, 242, 242);
  background-color: #0bc35e;
  padding: 5 0 5 10;
  
}

.dropdown-menu a:hover {
  background-color: #555;
}

.button-bg{
  padding: 5px;
  border-radius: 10px;
  transition:.15s;
}

.button-bg:active{
  background-color: rgba(116, 115, 115, 0.356);
}

.wrapper2{
  background: linear-gradient(109.6deg, rgba(181, 177, 177, 0.93) 11.2%, rgb(149, 151, 149) 78.9%);
  /* remove height */
  height: 900;
  padding: 0px 15px;
}

.title{
  font-size: 35px;
  padding: 20px 0px 0px 0px;
  font-weight: 600;
  letter-spacing: 1;
  margin-bottom: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.image{
  height: 100px;
  width: 100%;
}

.image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.info{
  padding: 5 0 10 6 ;
}


