*{
  -webkit-tap-highlight-color: #00000000;
  margin: 0;
  font-family:Signika Negative, arial, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 12 0 12;
	position: relative;
	z-index: 10;
  background-color: #000;
	box-shadow: 0px 0px 20px #000000da;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(43, 42, 42) 78.9%);
  position: sticky;
  top: 0;
}

.bi{
  background: none;
  border: none;
  scale: 1.1;
}

.buttons{
  position: relative;
}

.storename{
  color: white;
  letter-spacing: 1;
  cursor: default;
  font-size: 18;
}

.dropdown-menu {  
  display: none;
  position: absolute;
  top: 40px;
  right: -3;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgb(0, 0, 0);
  z-index: 1000;
  width: 150px;
  overflow: hidden;
}

.dropdown-menu a {
  display: block;
  padding: 10px ;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.dropdown-menu p{
  color: rgb(247, 242, 242);
  background-color: #0bc35e;
  padding: 5 0 5 10;
  
}

.dropdown-menu a:hover {
  background-color: #555;
}

.button-bg{
  padding: 5px;
  border-radius: 10px;
  transition:.15s;
}

.button-bg:active{
  background-color: rgba(116, 115, 115, 0.356);
}

.wrapper2{
  background: linear-gradient(109.6deg, #e9e1cd 11.2%, #a39d8e 78.9%);
  padding: 0px 15px 20px 15px;
  min-height:calc(100vh - 55px);
}

.title{
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1;
  color: #315231;
}

footer{
 margin-top: 25px;
 padding: 0 0 0 8;
 bottom: 25px;
}

footer p{
  color: #515151;
}


table{
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.21);
  background-color: #edecec;
  
}

thead{
  background-color:rgb(29, 149, 29);
  color: whitesmoke;
}

td, th{
  padding: 13;
  font-size: 1.2rem;
}

th{
  letter-spacing: 1;
}


tr{
  transition: all 0.15s;
}

tbody tr:nth-of-type(even){
  background: rgb(222, 220, 220);
}

tbody tr:hover{
  background: rgb(171, 228, 176);
}
 
.unit{
  color: rgb(104, 98, 98);
  font-size: 17;
} 

.name{
  min-width:100px ;
}

.titlediv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height:92.6667px;
  margin-bottom: 8;
  padding-right: 8;
}

/* go back */

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .1s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(46, 102, 42);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 18px;
}

.sign svg path {
  fill: white;
}

/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .1s;
}

/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .1s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .1s;
  padding-left: 10px;
}

/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .1s;
  padding-right: 10px;
}

/* button click effect*/
.Btn:active {
  transform: translate(-2px, 0);
}
